h3{
	color:#f60;
}
h4{
	line-height: 30px;
}
ul li:hover{
	color: blue;
}
h5{
	color:green;
}
.contact{
	padding: 20px;
	background: #ccc;
}
ul li{
	list-style: none;
	font-weight: bold;
	line-height: 28px;
}
span{
	color:grey;;
	font-size: 18px;
	margin-right: 8px;
}
.panel-footer{
	padding: 10px,30px,30px,30px;
}